.background {
    background-size: 1000px ;
    background-repeat: no-repeat;
}

.character {
    width: auto;
    height: 180px;
    image-rendering: pixelated;
    box-shadow: 4px, 10px, 10px #000000;

}

.left {
    padding-right: 613px;
}

.right {
    transform: scaleX(-1);
}

.char-div {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: start;
    padding-top: 310px;
    padding-bottom: 100px;
    padding-right: 0px;
    width: 1000px;
    margin: 0px;
}