.background {
    padding: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.left-character {
    align-items: flex-end;
    position: relative;
    justify-content: left;
    width: 200px;
    height: auto;
    image-rendering: pixelated;
}

.char-div {
    padding: 400px;
    padding-top: 500px;
}